// lazy developer means all customizations are falling under here //
// note - bg-primary is currently the default purple //

html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(xs) {
    html {
      font-size: 0.4rem;
    }
  }

  @include media-breakpoint-up(sm) {
    html {
      font-size: 0.6rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 0.65rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 0.9rem;
    }
  }

// *** FONTS *** //
@font-face{
    font-family: 'Crimson';
    src: url('fonts/Crimson_Text/Crimson-TextRegular.ttf')
         format('truetype');
}

@font-face{
    font-family: 'Avenir';
    src: url('fonts/AvenirNext_Text/AvenirNext-Regular-08.ttf')
         format('truetype');
}

@font-face{
    font-family: 'Avenir';
    src: url('fonts/AvenirNext_Text/AvenirNext-DemiBold-03.ttf')
         format('truetype');
    font-weight: bold;
}

// a fixed nav bar at top forces us to offset our anchor from the top //

.anchor {
    padding-top: 85px;
    padding-bottom: 30px;
}

.header {
    width:100%;
}

.footer {
    color: rgba(white, 0.7);
    height: 150px;
    //background-color: #240A40;
    font-family: 'Avenir', sans-serif;
    //background-color: $motif;
}

a {
    transition:0.25s;
    @include hover-focus{
        text-decoration:none;
        .fa{
            color:white;
        }
    }
    .fa {  
        color:$motif;
        @include hover-focus{
            text-decoration:none;
        }
    }
}

body {
    background-color: #DCDCDC;
    font-family: 'Avenir', sans-serif;
    h1, h2, p {
        color:white;
    }
}

h1, h2{
    font-family: 'Avenir', sans-serif;
    font-weight: bold;
}

h3, nav {
    font-family: 'Avenir', sans-serif;
}

.bg {
    background-color: #DCDCDC;
    padding-top:1rem;
}

.container, .card-group{
    background-color: transparent;
}

.container-fluid {
    h1, p {
        color:black;
    }
}

.card-body{
    p {
        color:black;
        font-family: 'Avenir', sans-serif;
    }
}

.card-img-top{
    height:250px;
}

.invis{
    background: transparent;
}

.parallax { 
    /* The image used */
    background-image: url("../img/KASCON_Logo_Sky-02.png");

    /* Set a specific height */
    height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.purp-bg {
    background-color: $motif;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display:inline;
    color: white;
}

.sponsorship{
    transition:0.25s;
    text-align: center;
    font-family: 'Avenir', sans-serif;
    @include hover-focus{
        background-color:$motif;
        color: white;
        p{
            color:white;
        }
    }
}

#first {
    background: linear-gradient( #240A40, $motif);
    h1, p {
        color:white;
    }
}

//this is for the Facebook icon at the bottom

#fb {
    transition:0.25s;
    color:$motif;
    @include hover-focus{
        text-decoration:none;
        color: #240A40;
    }
}

#navi {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
}

#icon {
    height:30px;
}

// don't mind these
// #240A40
// #4f2d83
// #5b3c8c
// #775ea0