// lazy developer means all customizations are falling under here //
// note - bg-primary is currently the default purple //

// *** FONTS *** //
@font-face{
    font-family: 'Crimson';
    src: url('fonts/Crimson_Text/Crimson-TextRegular.ttf')
         format('truetype');
}

@font-face{
    font-family: 'Avenir';
    src: url('fonts/AvenirNext_Text/AvenirNext-Regular-08.ttf')
         format('truetype');
}

@font-face{
    font-family: 'Avenir';
    src: url('fonts/AvenirNext_Text/AvenirNext-DemiBold-03.ttf')
         format('truetype');
    font-weight: bold;
}

// a fixed nav bar at top forces us to offset our anchor from the top //

.anchor {
    padding-top: 70px;
    padding-bottom: 70px;
}

.header {
    width:100%;
}

.footer {
    color: rgba(white, 0.7);
    height: 150px;
    //background-color: #250A41;
    background-color: $motif;
}

//this is for the Facebook icon at the bottom

a.fa {
    color:white;
    transition: 0.25s;
    @include hover-focus{
        text-decoration:none;
        color: #cccccc;
    }
}

body {
    //background-color: $motif; //this needs to change as appropriate to contact div
    background-color: #250A41;
    h1, h3, p {
        color:white;
    }
}

.gradbg {
    background: linear-gradient(#250A41, $motif);
}

.container {
    background-color: transparent;
}

.container-fluid {
    h1, p {
        color:white;
    }
}

.card-body{
    p {
        color:black;
        font-family: 'Avenir', sans-serif;
    }
}

#first {
    //background: linear-gradient(#250A41, $motif);
}


#navi {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
}

// don't mind these
// #250A41
// #4f2d83
// #5b3c8c
// #775ea0