// lazy developer means all customizations are falling under here //
// note - bg-primary is currently the default purple //

// a fixed nav bar at top forces us to offset our anchor from the top //

.anchor {
    padding-top:70px;
}